articles: 

<% @articles.each do |a| %>
	<div id="<%=a.id%>">
	  <h4><%= a.title %></h4>
		<span class="points"><%= a.points %></span><span class="vote-up<%= ' voted' if session.user && session.user.vote_for(a) == 1 %>"><%= link_to "vote up", '#', :rel => resource(a) %></span><span class="vote-down <%= ' voted' if session.user && session.user.vote_for(a) == -1 %>"><%= link_to "vote down", '#' %></span>
	</div>
<% end %>