<%= error_messages_for @article %>

<%= form_for @article, :action => url(:articles) do %>
<p>Title: <%= text_field :title %>
<p>Description:<%= text_area :description, :rows => 7, :cols => 60 %></p>
<p>Text:<%= text_area :piece, :rows => 15, :cols => 60 %></p>
<p>Link:<%= text_field :link %></p>
<p><%= submit "Create" %></p>
<% end =%>